.container-snake {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.snake-div {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    box-sizing: border-box;
}

.apple {
    background-color: red;
    position: absolute;
    width: 25px;
    height: 25px;
}

.snake {
    background-color: yellowgreen;
    position: absolute;
    width: 25px;
    height: 25px;
}

.modal-snake {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.snake-info {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}